body{
    background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background-size: 1905px 800px;
    background-repeat: no-repeat;
    background-color: black;
    margin-left: 0px;
    
    }

   
   
   .redButton {
       height: 35px;
       width: 80px;
       background-color: #e50914;
       float: right;
       border-radius: 7%;
       margin-right: 15px;
       margin-top: 15px;
       border-radius: 3px;
       border-color: transparent;
       cursor: pointer;
       
   
   }
   .signIn{
       color: white;
       margin: initial;
       font-size: medium;
       font-weight: 400;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
       text-align: center;
       
   }
   .logo{
       size: 100px;
       resize: both;
       margin-left: 30px;
       
   }
   .unlimited{
       font-weight: bold;
       font-size: 60px;
       text-align: center;
       color: white;
       margin-top: 150px;
       margin-left: 400px;
       margin-right: 400px;
       margin-bottom: 0px;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
       
   }
   .cancel{
       font-size: 27px;
       text-align: center;
       color: white;
       margin-left: 400px;
       margin-right: 400px;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   }
   .textBox{
       text-align: center;
       margin-left: 400px;
       margin-right: 400px;
       max-width: 300px;
       height: 100px;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
     flex: auto;
   }
   textarea{
       height: 70px;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   }
   
   .emailAndTrial{
   display: flex;
   width: 900px;
   
   }
   
   .freeTrialButton{
   width: 400px;
   height: 76px;
   background-color: #e50914;
   border-color: transparent;
   cursor: pointer;
   
   }
   
   .freeTrial{
       color: white;
       margin: initial;
       font-size: medium;
       font-weight: 400;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
       text-align: center;
       font-weight: bold;
       font-size: x-large;
   }
   .ready{
       font-size: 24px;
       text-align: center;
       color: white;
       margin-left: 300px;
       margin-right: 300px;
       font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
       margin-bottom: 180px;
   }

   .line1{
    width: 1905px;
    text-align: center;
    height: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-width: 10px; 
    border-bottom-color: #222;
    margin-bottom: 150px;
    
    
}

.enjoy{
    background-color: black;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 300px;
    margin-top: 0px;
    max-width: 500px;
}
h1{
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 3.125rem;
    line-height: 1.1;
   
}

p{
    font-size: 1.625rem;
    font-weight: 400;
}

hr{
    color: #222;
    font-size: bolder;
}
.tv{
    margin-left: 1000px;
   position: relative;
    z-index: 2;

}

.tvVideo{
    margin-top: -385px;
    margin-left: 1085px;
    position:absolute;
    z-index: 1;
    display: inline-block;
}


 .movingTv{
    margin-top: -300px;
    margin-bottom: 30px;
 }




.line2{
    width: 1905px;
    text-align: center;
    height: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-width: 10px; 
    border-bottom-color: #222;
    
    
}



.phone{

    z-index: 4;
    margin-bottom: 20px;
}

.littlePic{
   z-index: 1;
   margin-top: -70px;
}

.boxWords{
    background-color:  black;
    width: 280px;
    border: 2px solid #222;
    border-radius: 20px;
    padding: 40px;
    height: 20px;
    margin-left: 130px;
    margin-top: -150px;
    position: absolute;
}

.stranger{
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 10px;
    margin-top: -65px;
    margin-left: 80px;
    z-index: 2;

}

.blueDownload{
color: #0071eb;
margin-top: -5px;
margin-left: 80px;
font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 14px;

}

.downloadGif{
    z-index: 1;
    margin-left: 260px;
    margin-top: -10px;
   
}

.phoneVideo{
        margin-top: -385px;
        margin-left: -13px;
        z-index: -2;

        }


.movingPhone{
    margin-left: 200px;
}

.download{
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 950px;
    z-index: 2;
    position: absolute;
    max-width: 550px;
    margin-top: 150px;
}


.line3{
    width: 1905px;
    text-align: center;
    height: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-width: 10px; 
    border-bottom-color: #222;
    
}
.watch{
    background-color: black;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 300px;
    margin-top: 200px;
    max-width: 500px;
}


hr{
    color: #222;
    font-size: bolder;
}
.monitor{
    margin-left: 1000px;
   margin-top: -100px;
   position: relative;
    z-index: 2;

}

.monitorVideo{
  margin-left: 1110px;
  max-width: 63%;
  max-height: 47%;
  margin-top: -440px;
  width: 420px;
    display: inline-block;
    position:absolute;
    z-index: 1;
}


 .movingMonitor{
    margin-top: -370px;
 margin-bottom: 50px;
 }


.line4{
    width: 1905px;
    text-align: center;
    height: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-width: 10px; 
    border-bottom-color: #222;
    
}



button{
    cursor: pointer;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #303030;
    text-align: center;
    margin:auto;
    display:block;
    font-size: 25px;
    width: 850px;
    height: 70px;
    margin-bottom: 10px;
    border: transparent;
}

.asked{
    text-align: center;
  
}
.textBox{
    text-align: center;
    margin-left: 520px;
    margin-right: 400px;
    max-width: 500px;
    height: 50px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  flex: auto;
}
textarea{
    height: 50px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.emailAndTrial{
   margin-top: 50px;
width: 1000px;

}

.freeTrialButton{

width: 410px;
height: 56px;
background-color: #e50914;
border-color: transparent;
cursor: pointer;

}

.freeTrial{
    color: white;
    margin: initial;
    font-size: medium;
    font-weight: 400;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.line5{
    width: 1905px;
    text-align: center;
    height: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-width: 10px; 
    border-bottom-color: #222;
    
}
.restart{
    margin-top: 15px;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    max-width: 100%;
    font-size: 20px;
}